* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", "Raleway", sans-serif;
}

header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #191919;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 50px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.3rem;
  font-weight: 250;
  color: #065d84;
}

.logo img {
  height: 45px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-left: 1px;
}

.logo .limited {
  color: #ff6600;
  font-weight: 100;
  letter-spacing: 5px;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #065d84;
  font-weight: 50;
  transition: all 0.3s;
  padding: 5px 0;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ff6600;
  transition: width 0.5s;
}

.nav-links a.active::after {
  width: 100%;
}

.nav-links a:hover {
  color: #ff6600;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Hero */
.hero {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("assets/Magy2\ 1.png");
  background-size: cover;
  background-position: center;
}
.hero img {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero .content {
  position: absolute;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.welcome-text {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: Medium;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 5%;
  text-align: center;
  color: #ffffff;
}
.company-name {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: Medium;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 5%;
  text-align: center;
  color: #ff7700;
  margin-top: 20px;
}
.company-description {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  width: 395px;
  margin-left: 35px;
}
.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 1;
}

/* Mini Navigation*/
.mini-nav {
  padding: 16px 8px;
  display: flex;
  gap: 10px;
  margin-left: 40px;
}
.mini-nav p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 5px;
}
.nav-right-arrow {
  border: 1.4px solid #161617;
  width: 10px;
  height: 15px;
  margin-top: 9px;
  top: 6px;
  left: 9px;
  border-width: 1.4px;
}

/* Section 1 */
.container-1 {
  padding: 0 25px;
  margin-top: 20px;
}

.container-1-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 25px;
}
.left-text {
  flex: 1;
}
.left-text p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #000000;
}
.right-text {
  flex: 1;
  margin-top: -124px;
}
.right-text p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #065d84;
}

/* Section 2 */
.container-2 {
  display: flex;
  gap: 40px;
  padding: 16px 10px;
  margin: 80px 20px 20px 45px;
}
.container-2-1 {
  display: flex;
}
.container-2-1-1 {
  /* border:80 10px solid #ffffff;
  z-index: 2; */
}
.a {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ff7700;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.a p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 5%;
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
}
.b {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: #ffffff;
  position: relative;
  margin: -40px -40px 0px 0px;
  z-index: 1000;
}

.container-2-1-2 {
  z-index: 1;
  background: #065d84;
  width: 300px;
  height: 220px;
  border-radius: 15px;
  padding: 50px 20px;
}


/* Section 3 & 4 */
.container-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  padding: 0 70px;
  margin-top: 100px;
}
.container-3 img {
  width: 575px;
  height: 349px;
  border-radius: 30px;
}
.container3-text-1 {
  color: #065d84;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
}
.container3-text-3 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 10px;
}

/* Section 5*/
.container-5 {
  padding: 16px 8px;
  margin: 80px 20px 20px 20px;
}
.frame {
  display: flex;
  gap: 30px;
  padding: 10px 40px;
  margin-top: 40px;
}
.frame-1 img {
  width: 100%;
  border-radius: 30px;
}
.frame-details-1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 5%;
  text-align: center;
  color: #191919;
  margin-top: 20px;
}
.frame-details-2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5%;
  text-align: center;
  color: #065d84;
  margin-top: 10px;
}
.frame-icons {
  display: flex;
  gap: 10px;
  margin-left: 110px;
  margin-top: 10px;
}
.frame-icons img {
  width: 26px;
  height: 26px;
}

/* Section 6*/
.container-6 {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("assets/image\ 11.png");
  background-size: cover;
  background-position: center;
  margin-top: 150px;
}

.enquiry-content {
  position: absolute;
  color: white;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  gap: 10px;
  height: 100px;
}

.enquiry-content-text-1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: Medium;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ff7700;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 800px;
}
.enquiry-content-text-2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  color: #ffffff;
  margin-top: 20px;
}
.contact-us {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.contact-us button {
  border: 2px solid #065d84;
  background: #ffffff;
  color: #065d84;
  padding: 10px 25px;
  border-radius: 25px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Section 7*/
.container-7 {
  background: #404040;
}
.container-7-1 {
  display: flex;
  padding: 50px 40px;
  gap: 77px;
  width: 100%;
}
.info {
  display: flex;
  gap: 5px;
}
.contact-info {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ffffff;
}
.container-7-1-2 p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
}
.container-7-1-3 p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-7-1-4 form {
  border: 1px solid #ffffff;
  width: 210;
  height: 52px;
  gap: 10px;
  border-radius: 10px;
  border-width: 1px;
  padding: 14px 20px;
  color: #57585a;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.container-7-1-4 button {
  padding: 1px 25px;
  border-top: 1px solid #f9cbcd;
  background: #ffffff;
  margin-top: 20px;
  margin-left: 120px;
  justify-content: center;
  width: 113px;
  height: 45px;
  border-radius: 100px;
  border-width: stroke weight/1;
}
.container-7-1-4 button p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #161617;
  width: 63px;
  height: 24px;
}

/* Footer */
footer {
  background: #414244;

  justify-content: space-between;
  padding: 10px 40px;
  display: flex;
}
.footer-content p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ffffff;
}
.footer-content-1 {
  display: flex;
  gap: 10px;
}
.footer-content-1 p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ffffff;
}
