body {
  margin: 0;
  font-family: "Rubik", "Raleway", sans-serif;
  /* width: 100%; */
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #191919;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 50px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.3rem;
  font-weight: 250;
  color: #065D84;
}

.logo img {
  height: 45px; 
}

.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-left: 1px;
}

.company-name{
  font-family: Hepta Slab;
  font-weight: 800;
  font-size: 19.39px;
  line-height: 100%;
  vertical-align: middle;
}

.logo .limited {
  color: #ff6600;
  font-weight: 100;
  letter-spacing: 5px;
}


/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #065D84;
  font-weight: 50;
  transition: all 0.3s;
  padding: 5px 0;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ff6600;
  transition: width 0.5s;
}

.nav-links a.active::after {
  width: 100%; 
}

.nav-links a:hover {
  color: #ff6600;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Hero */
.hero {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url('assets/Magy2\ 1.png');
    background-size: cover;
    background-position: center;
}
.hero img{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hero .content {
    position: absolute;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* font-weight: 500; */
}
.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,.5);
    z-index: 1;
}

.content h1{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Section 1 */
.container-1 {
  padding: 0 25px;
  margin-top: 20px;
}

.container-1-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 25px;
}

.left-text {
  flex: 1;
  line-height: 25px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.right-text {
  flex: 1;
  font-size: 36px;
  font-weight: 600;
  color: #005173; 
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.divider {
  width: 2px;
  border-right: 1px solid #e0e0e0;
  /* background-color: #191919; */
  height: 100px;
}

.bottom-line {
  margin-top: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.btn {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #005173;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
}

/* Section 2 */
.container-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  padding: 0 80px;
  margin-top: 100px;
}

.container-2 img{
  height: 350px;
  border-radius: 50%;
}

.container-2-1 h2{ 
  color: #005173;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
}

/* Section 3 */
.container-3{
  display: -webkit-flex;
  gap: 10px;
  padding: 0 60px;
  margin-top: 100px;
  position: relative;
}

.our-services{
  background-color: #ff6600;
  color: #ffffff;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  padding: 0 7px;
}

.our-services p {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 5%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0 14px;
}

.service-content{
position: relative;
}

.services-details{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.svg-bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -100;
}

.service-content p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 5px 10px;

}

.frames{
  display: flex;
  width: 1054;
  height: 330;
  opacity: 1;
  top: 138px;
  left: 94px;
  gap: 18px;
  margin: auto 10px;
  padding: 0 10px;
}

.frame-1{
  border: 1px solid #88888833;
  width: 250;
  height: 330;
  opacity: 1;
  gap: 10px;
  border-radius: 15px;
  border-width: 1px;
  padding: 30px 15px 6px 15px;
  background-color:#ffffff;

}

.frame-1-1{
  width: 190;
  height: 225;
  opacity: 1;
  gap: 15px;

}

.frame-1-1 img{
  width: 56;
  height: 56;
  opacity: 1;

}

.frame-text-1 {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color:#065D84;

}

.frame-text-2{
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.see-all {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.see-all button {
  border: 2px solid #065d84;
  background: transparent;
  color: #065d84;
  padding: 10px 25px;
  border-radius: 25px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.see-all button:hover {
  background-color: #065d84;
  color: #fff;
}

/* Section 4 */
.container-4{
  margin-top: 80px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.container-4 p{
  font-weight: 500;
  font-style: Medium;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #065D84;
  margin-bottom: 50px;
}

/* Section 4 */
/* .container-4 {
  margin-top: 80px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.container-4 p {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  vertical-align: bottom;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #065D84;
  margin-bottom: 30px;
} */

.work-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.work-gallery img {
  width: 100%;
  /* height: 100%; */
  border-radius: 15px;
  object-fit: cover;
}

/* Section 5 */
.container-5 {
  position: relative;
  background: #065D840D;
  background-size: cover;
  margin: 80px auto;
  padding: 40px;
}

.clients-content p{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #065D84;
}

.clients-content-1{
  display: flex;
  width: 1240;
  height: 285.5;
  gap: 150px;
}

.clients-content-1 p{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #191919;
  width: 445;
  height: 192;
}

/* Section 6 */
.container-6{
  height: 550;
  gap: 60px;
  padding: 40px 100px;
  background: #F3F3F3;
  background-size: cover;
  margin: 80px auto;
}

.container-6-1{
  display: flex;
  justify-content: space-between;

}

.voices-text{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0px;
  color: #065D84;
  margin-top: 0px;
  margin-bottom: 0px;
}

.voices-link{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000000;
}

.container-6-2{
  display: flex;
  height: 300;
  opacity: 1;
  gap: 30px;
  

}

.column-1{
  border: 0.95px solid #88888833;
  background: #FFFFFF;
  gap: 45;
  border-radius: 10px;
  border-width: 0.95px;
  padding: 30px 25px;

}

.quote-1{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 0px;
}

.review-avatar{
  display: flex;
  gap:5px;
}
/* .review-avatar img{
  border-radius: 50%;
} */
.avatar-name{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;

}
.avatar-role{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #A4A4A4;
  margin-top: 0px;
  margin-bottom: 0px;
}